@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* Add this media query for mobile screens */
@media (max-width: 640px) {
  /* body {
    display: flex;
    place-items: center;
    flex-direction: column;
  } */

  #app {
    /* display: flex;
    flex-direction: column;
    padding: 0 1rem; */
    font-size: default;
    /* Adjust padding for mobile */
  }

  /* Adjust other styles for mobile */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem; /* Adjust font size for headings */
  }

  p {
    font-size: 1rem; /* Adjust font size for paragraphs */
  }

  /* Add any other responsive styles for mobile here */
}
